<p>tablaadopciones works!</p>
<body>
    <div class="item1">
       <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
           <img class="navar" src="../../assets/logo.jpg" alt="">
           <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarCollapse">
            <button type="button" class="btn btn-light"><a class="nav-link" href="table">Usuarios registrados</a></button>
      <button type="button" class="btn btn-light"><a class="nav-link" href="tablamascotas">Mascotas registradas</a></button>

      <button type="button" class="btn btn-light"><a class="nav-link" href="tablasugerencia">Sugerencias</a></button>  
      <form class="form-inline mt-2 mt-md-0">
       
       <button style="position: absolute; right: 0;" (click)="cerrarSesion();" class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerrar sesión</button>
       
     </form>
           </div>
       </nav>
     </div>
   </body>
   <br>
   <br>
   <br>
   <br>
   <br>
   <form>
   <div class="form-row">
    <div class="form-group col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
      <label for="inputCity">Nombre mascota</label>
      <input type="text" class="form-control" name="filtroMascota" placeholder="Nombre mascota..." [(ngModel)]="filtroMascota" (ngModelChange)="buscarAdopcion()">
    </div>
    <div class="form-group col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <label for="inputZip">Nombre usuario</label>
        <input type="text" class="form-control" name="filtroUsuario" placeholder="Nombre usuario..." [(ngModel)]="filtroUsuario" (ngModelChange)="buscarAdopcion()">
      </div>
    <div class="form-group col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
      <label for="inputState">Estado</label>
      <select class="form-control" name="filtroEstado" [(ngModel)]="filtroEstado" (ngModelChange)="buscarAdopcion()">
        <option value=''>Todos</option>
       <option value="Solicitada">Solicitada</option>
        <option value="Aceptada">Aceptada</option>
        <option value="Rechazada">Rechazada</option>
        </select>
    </div>
    
  </div>
</form>
   <br>
   <br>
  
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Adopciones en sistema</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td  style="text-align:center" scope="col">ID</td>
                        <th style="text-align:center" scope="col">NOMBRE MASCOTA</th>
                        <th style="text-align:center" scope="col">NOMBRE USUARIO</th>
                        <th style="text-align:center" scope="col">ESTADO</th>
                    </tr>
                </thead>

                <tbody>      
                    <tr *ngFor="let adopcion of miAdopcion">
                         <td  style="text-align:center">{{adopcion.id}}</td>
                          <td style="text-align:center">{{adopcion.nombreMascota}}</td>
                          <td style="text-align:center">{{adopcion.nombreUsuario}}</td>
                          <td style="text-align:center">{{adopcion.estado}}</td>
                          <td style="text-align:center"><button class="btn btn-primary" (click)= "eliminarAdopcion(adopcion.id);">Eliminar</button> </td>
                        
                    </tr>
                  </tbody>
                </table>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

